.wrapper {
    border: 3px solid #aaa;
    padding: 15px;
}

b {
    font-size: 10px;
    font-weight: normal;
}

i {
    text-decoration: underline;
    font-weight: bold;
}

.testClass {
    background: #f00;
}